{
  "presets": ["@babel/env", "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "react-hot-loader/babel",
    ["transform-class-properties", {
      "loose": true
    }]
  ]
}
