@import 'scss/variables';
@import 'scss/fonts';

@import 'scss/about';
@import 'scss/balances';
@import 'scss/notice';
@import 'scss/options';

/* General */

* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background: initial;
  color: initial;
}

body {
  font-size: 12px;
  font-family: "PingFangSC";
  margin: 0;
  margin-top: 55px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

p,
h1,
h3 {
  margin: 0;
}

h3 {
  font-weight: 500;
}

input,
textarea,
button {
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  border-radius: 2px;
}

input,
textarea {
  border: 1px solid #ccc;
}

input,
button {
  height: 40px;
}

input:disabled,
button:disabled {
  background-color: white;
  color: #999;
  border: 1px solid #ccc;
  cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  padding: 0 8px;
}

input[type="checkbox"] {
  width: initial;
  height: initial;
}

textarea {
  padding: 8px;
}

button {
  background-color: #006FE8;
  color: white;
  height: 40px;
  min-width: 200px;
  cursor: pointer;
  border: none;

  &.cancel,
  &.secondary {
    background-color: #ccc;
    color: grey;
  }
}

button:not(:disabled):hover {
  background-color: #0D41FF;

  &.cancel {
    background-color: red;
    color: white;
  }

  &.secondary {
    background-color: lightgrey;
    color: grey;
  }
}

.input-group {
  width: 100%;
  display: flex;

  &>button {
    min-width: initial;

    &:not(:first-child):not(:last-child) {
      border-left-width: 0;
      border-radius: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-left-width: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.error {
  color: #e00000;
  margin-top: 10px;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.header img.logo {
  width: 40px;
}

.header .header--alert {
  position: absolute;
  width: 20px;
  bottom: 10px;
  left: 35px;
}

.header .clickable:hover {
  cursor: pointer;
}

.header select {
  font-size: 12px;
  font-weight: 500;
  text-align-last: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

select[disabled] {
  cursor: not-allowed;
}

/* Banner */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.banner--cross {
  &:hover {
    width: 50px;
  }

  display: flex;
  align-items: center;
  width: 15px;
  transition: all 0.2s;
  cursor: pointer;
}

.banner--cross::before {
  content: "\2715";
  font-size: 18px;
}

.banner--cross:hover::after {
  content: "Close";
  font-size: 12px;
  margin-left: 5px;
}

.banner--cross.disabled::before {
  cursor: not-allowed;
}

/* Swaps */

.tabs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs li {
  color: #666;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 50%;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
}

.tabs li.active {
  font-weight: 500;
  color: black;
  border-bottom: 3px solid #006FE8;
}

.tabs li:not(.active) {
  color: #666;
}

.swaps {
  min-height: 150px;
  position: relative;
}

.swaps>p {
  margin-top: 10px;
  padding: 0 10px;
}

.swaps--item {
  border-bottom: 1px solid #ccc;
}

.swaps--details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.swaps--details:hover {
  background-color: #fafafa;
}

.swaps--details>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.swaps--details>div:last-child {
  align-items: flex-end;
}

.swaps--details>div:last-child>p.large {
  font-size: 16px;
}

.swaps--details>div>*+* {
  margin-top: 5px;
}

.swaps--extra {
  background-color: #fafafa;
  padding: 10px;
}

.swaps--extra h3 {
  margin-bottom: 10px;
}

.swaps--extra p {
  line-height: 2;
}

.swaps--expiry {
  background-color: #ca954a;
  height: 2px;
  margin-left: auto;
}

.swaps--status {
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  color: white;
  border-radius: 2px;
  padding: 2px 6px;
}

.swaps--status.pending {
  background-color: #FFCA00;
}

.swaps--status.failed,
.swaps--status.canceled,
.swaps--status.expired {
  background-color: #F45532;
}

.swaps--status.confirmed {
  background-color: #31CC9A;
}

.swaps--status.unknown {
  background-color: #666;
}

.swaps .error {
  padding: 0 10px;
}

/* Account */

.account {
  padding: 0 10px;
}

.account textarea {
  font-size: 14px;
  width: 100%;
  height: 100px;
  max-width: 100%;
  height: 100px;
  margin: 10px 0;
}

.account input+input {
  margin-top: -1px;
}

.account button {
  margin: 10px 0;
}

.account .error {
  margin-top: 10px;
}

/* Mnemonic */

.mnemonic {
  padding: 0 10px;
}

.mnemonic>*+* {
  margin-top: 10px;
}

.mnemonic textarea {
  font-size: 16px;
  background: #eee;
  line-height: 170%;
  width: 100%;
  height: 100px;
  max-width: 100%;
  max-height: 100px;
}

.mnemonic .mnemonic-warning {
  border: 1px solid $blue;
  color: $blue;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px;
}

.mnemonic--word--input {
  border-width: 2px;
  border-radius: 4px;
  margin-bottom: 5px;

  &.valid {
    border-color: green;
    border-style: solid;
  }

  &.invalid {
    border-color: red;
    border-style: solid;
  }
}

.mnemonic--check {
  padding-top: 10px;
}

/* Withdraw */

.withdraw {
  padding: 0 10px;
}

.withdraw--balance {
  display: flex;
  align-items: center;
}

.withdraw--balance img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.withdraw--balance p+p {
  margin-top: 5px;
}

.withdraw--inputs {
  margin-top: 10px;
}

.withdraw--inputs .fill--amount {
  margin-top: 5px;
}

.withdraw--inputs input+input {
  margin-top: -1px;
}

.withdraw--inputs button {
  margin-top: 10px;
}

.withdraw--inputs form {
  margin-top: -1px;
}

.withdraw--confirm {
  padding-top: 10px;
}

/* Swap */

.swap {
  padding: 0 10px;
}

.swap--origin {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding-bottom: 10px;

    img {
      width: 32px;
    }
  }

  p {
    text-align: center;
  }
}

.swap--details {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 30px 0;
}

.swap--details:before {
  content: "\2192";
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swap--details>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swap--details img {
  width: 30px;
  height: auto;
}

.swap--details p {
  margin-top: 5px;
}

.swap--inputs {
  margin-top: 10px;
}

.swap--inputs button {
  margin-top: 10px;
}

/* Loading */

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading.alt.lds-dual-ring:after {
  border-color: white transparent white transparent;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.red {
  color: red;
}