.about--page {
  padding: 10px;
}

.about--page p {
  padding-bottom: 10px;
}

.about--page button.update {
  min-width: initial;
  width: 120px;
}

.about--page .updating .loading {
  position: relative;
  padding-top: 20px;
}

.about--page .update--button {
  text-align: center;
  padding-bottom: 20px;
}

.about--footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.version-banner {
  font-size: 12px;
  span {
    font-size: 14px;
    font-family: monospace;
  }
}
