.about--page button.update {
  min-width: initial;
  width: 120px;
}

.about--page .updating .loading {
  position: relative;
  top: 10px;
}

.about--footer {
  .update--available & { 
    position: fixed;
    box-shadow: 0px 0px 15px #00000099;
  }
  background: white;
  bottom: 0;
  width: 100%;
}

.version-banner {
  span {
    font-size: 14px;
    font-family: monospace;
  }
}

.about--footer--content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}