$blue: #006FE8;
$blue-dark: #002247;
$blue-darker: #001B3A;

$off-white: #f8fafb;
$dark-grey: #3f3f41;
$light-grey: #cccccc;
$mid-grey: #979797;

$green: #31CC9A;
$red: #F45532;
$light-red: #F16262;
$orange: #db6500;