/* Withdraw */

.withdraw {
    padding: 0 10px;
}

.withdraw--balance {
    display: flex;
    align-items: center;
}

.withdraw--balance img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.withdraw--balance p+p {
    margin-top: 5px;
}

.withdraw--inputs {
    margin-top: 10px;
}

.withdraw--inputs .fill--amount {
    margin-top: 5px;
}

.withdraw--inputs input+input {
    margin-top: -1px;
}

.withdraw--inputs button {
    margin-top: 10px;
}

.withdraw--inputs form {
    margin-top: -1px;
}

.withdraw--confirm {
    padding-top: 10px;
}